html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: auto;
}

h1 {
  float: left;
  font-weight: bold;
  font-size: 140%;
  color: white;
  background-color: #333;
  padding: 3px;
  margin: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  background-color: green;
}

div ul{
  width: 100%;
}

ul1 {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li1 {
  width: 50%;
  display: block;
  float: left;
}

li2 {
  float: left;
  width: 50%;
}

li2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 0px;
  text-decoration: none;
  border: 1px solid white;
  width:100%;
  cursor: pointer;
}

li2 a:hover {
  background-color: green;
}

#buttonCollection {
  width:100%;
}

canvas {
  border: 1px solid black;
  position: absolute;
}

.rounded{
  background-color: #1966dd;
  border-radius:0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  width: 100%;
  padding: 11px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

#spriteCanvas_container {
  float: left;
  width: 500px;
  height: 500px;
}

#canvasBlock {
  height: 400px;
}

#canvases {
  position: relative;
  height: 402px;
  width: 502px;
  background-color: white;
}

/* 리소스 핸들링용 CSS */
#myContainer {
  width: 450px;
  height: 450px;
  float: left;
  border-style: solid;
  border-bottom-color: #92a8d1;
  border-top-color: #92a8d1;
  border-left-color: #92a8d1;
  border-right-color: #92a8d1;
  background: white;
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
}

#blocklyDiv {
  float: left;
  height: calc(100% - 80px);
  width: calc(100% - 560px);

}

#library {
  float: left;
  height: calc(100% - 80px);
  width: calc(100% - 540px);
}

#sprite {
  float: left;
  height: calc(100% - 80px);
  width: calc(100% - 540px);
}

#importExport {
  width: 100%;
  font-family: monospace;
}

.ioLabel > .blocklyFlyoutLabelText {
  font-style: italic;
}

#importedFunctions {
  clear: both;
  display: none;
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#librarySpace {
  float: left;
  height: 100px;
  width: 40%
}

#content {
  float: right;
  height: calc(100% - 80px);
  width: 520px;
  background-color: #e9f1fc;
  padding: 20px;
  overflow: auto;
}

#gallery_owner {
  height: 400px;
  width: 70%;
  float: left;
}

#spriteAttributes {
  background-color: white;
  padding: 5px;
}

#stage_owner {
  height: 400px;
  width: 20%;
  float: right;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100px;
  height: auto;
}

div.stage {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.stage:hover {
  border: 1px solid #777;
}

div.stage img {
  width: 100%;
  height: auto;
}

div.desc {
  text-align: center;
}

